.card {
    background-color: white;
    width: 600px;
    padding: 20px;
    float: right;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .row {
    display: flex;
  }
  
  .col {
    flex: 1;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
  }
  