.container {
    display: flex;
    background-color:  #f2f2f2;
  }
  
  .sidebar {
    flex: 0 0 200px;
    background-color:white;
    padding: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  